<div class="panel panel-default">
  <% if article.user.is_member %>
    <div class="panel-heading"><%= article.user.display_name%>(会员)</div>
  <% else %>
    <div class="panel-heading"><%= article.user.display_name%></div>
  <% end %>
    <div class="panel-body">
      <strong style="font-size:20px"><%= article.title %></strong>
      <br/>
      <%= article.text %>
      <div class="pull-right">
        <%= link_to 'Add', article %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <br/>
      <% if article.images.present? %>
        <% article.images.each do|i|%>
          <%= link_to image_tag(i.url(:small)), i.url %>
        <% end %>
      <% end %>
    </div>


    <span id="article-like-<%= article.id %>">
       <%= render :partial => "like", :locals => { :article => article } %>
   </span>

    <% article.comments.each do |comment| %>
      <div class="panel-body">
        <% if article.user.is_member %>
          <p>commenter(会员): <%= comment.commenter%></p>
          <p>comment: <%= comment.body %> </p>
        <% else %>
        <p>commenter: <%= comment.commenter%></p>
        <p>comment: <%= comment.body %> </p>
        <% end %>
      </div>
    <%end%>
</div>
