<head>
<style>
  a:hover{
    text-decoration :none;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <%= link_to("Clear",clean_coins_path,method: :delete, class: "pull-right",style: "text-decoration: underline;",
    data: { confirm: "you sure ？"}) %>
<%= form_tag bulk_update_admin_coins_path, :class => "form-inline" do %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></th>
        <th>
          Name
          <% if @state == 1 %>
            <a id="bb" href="http://localhost:3000/admin/coins?order=by_lowerid_bound">Down</a>
            <% @state = 2 %>
          <% else %>
            <a id="dd" href="http://localhost:3000/admin/coins?order=by_upperid_bound">Up</a>
          <% end %>
        </th>
        <th>
          MC
          <%= link_to('Down',admin_coins_path(:order => "by_lowermc_bound"))%>
          <%= link_to('Up',admin_coins_path(:order => "by_uppermc_bound"))%>
        </th>
        <th>
          MV
          <%= link_to('Down',admin_coins_path(:order => "by_lowermv_bound"))%>
          <%= link_to('Up',admin_coins_path(:order => "by_uppermv_bound"))%>
        </th>
        <th>
          Price
          <%= link_to('Down',admin_coins_path(:order => "by_lowerprice_bound"))%>
          <%= link_to('Up',admin_coins_path(:order => "by_upperprice_bound"))%>
        </th>
        <th>
          Marketl
          <%= link_to('Down',admin_coins_path(:order => "by_lowerml_bound"))%>
          <%= link_to('Up',admin_coins_path(:order => "by_upperml_bound"))%>
        </th>
        <th>
          24H
          <%= link_to('Down',admin_coins_path(:order => "by_lowerquota_bound"))%>
          <%= link_to('Up',admin_coins_path(:order => "by_upperquota_bound"))%>
        </th>
        <th>
          7D
          <%= link_to('Down',admin_coins_path(:order => "by_lowerweek_bound"))%>
          <%= link_to('Up',admin_coins_path(:order => "by_upperweek_bound"))%>
        </th>
        <th>
          Operation
        </th>
      </tr>
    </thead>

    <tbody>
      <% @coins.each do |coin| %>
        <tr>
          <td><%= check_box_tag "ids[]", coin.id %></td>
          <td><%= link_to(coin.name, admin_coin_path(coin))%></td>
          <td><%= coin.mc %></td>
          <td><%= coin.mv %></td>
          <td><%= coin.price %></td>
          <td><%= coin.marketl %></td>
          <td><%= coin.quota %></td>
          <td><%= coin.week %></td>
          <td>
            <%= link_to("Edit",edit_admin_coin_path(coin))%>
            ｜
            <%= link_to("Destroy",admin_coin_path(coin),:method => :delete)%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<p><%= submit_tag "批次删除", :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %></p>
<% end %>

<script>
  $("#toggle_all").click(function(){
    if ( $(this).prop("checked") ) {
      $("input[name='ids[]']").prop("checked", true);
    } else {
      $("input[name='ids[]']").prop("checked", false);
    }
  })
</script>

<%= form_tag import_coins_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "submit" %>
<% end %>
</head>


<script>
  var state = 'Down';
  if (clicked && state == 'Down') state = 'Up';
  if (clicked && state == 'Up') state = 'Down';
</script>
