<div class="row">
  <div class="col-md-12">
    <%= link_to("Clear",clean_coins_path,method: :delete, class: "pull-right",style: "text-decoration: underline;",
    data: { confirm: "you sure ？"}) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>MC</th>
      <th>MV</th>
      <th>Price</th>
      <th>Marketl</th>
      <th>24H</th>
      <th>7D</th>
      <th>Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.name %></td>
        <td><%= coin.mc %></td>
        <td><%= coin.mv %></td>
        <td><%= coin.price %></td>
        <td><%= coin.marketl %></td>
        <td><%= coin.quota %></td>
        <td><%= coin.week %></td>
        <td>
          <%= link_to("Edit",edit_admin_coin_path(coin))%>
          ｜
          <%= link_to("Destroy",admin_coin_path(coin),:method => :delete)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag import_coins_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "submit" %>
<% end %>
