<h1> <%= @coin.name %> </h1>
<table>
  <thead>
    <tr>MC: <%= @coin.mc %></tr>
    <br/>
    <tr>MV: <%= @coin.mv %></tr>
    <br/>
    <tr>Price: <%= @coin.price %></tr>
    <br/>
    <tr>Marketl: <%= @coin.marketl %></tr>
    <br/>
    <tr>24H: <%= @coin.quota %></tr>
    <br/>
    <tr>Week: <%= @coin.week %></tr>
  </thead>
</table>
