<div class='pull-right'>
  <%= link_to('Form',admin_user_path(:id=>0),class:'btn btn-primary')%>
</div>
<br/>
<% @n=0 %>
<% @users.each do |user| %>
    <%= user.email %>
    <% if user.is_member == true %>
      会员<br>
      <% @n = @n + 1 %>
    <% else %>
      非会员<br>
    <% end %>
    <hr/>
<% end %>
总用户数量为 <%= @c %>人
<br/>
会员为 <%= @n %>人
<br/>
非会员为 <%= @users.count-@n %>人
