<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Coins</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <% if !current_user %>
                    <li><%= link_to("注册", new_user_registration_path) %> </li>
                    <li><%= link_to("登入", new_user_session_path) %></li>
                  <% else %>
                  <li> <%= link_to("讨论区",articles_path) %> </li>
                  <li> <%= link_to("加入会员",member_index_path) %> </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="first">
                          <%= link_to("登出", destroy_user_session_path, method: :delete) %>
                        </li>
                        <% if current_user && current_user.is_admin %>
                          <li>
                            <%= link_to("管理员页面",admin_coins_path) %>
                          </li>
                        <% end %>
                    </ul>
                  </li>
                <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
