<!DOCTYPE html>
<html>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
          <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid" id="background_nav">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                      <a class="navbar-brand" href="http://localhost:3000/admin/coins">Coins</a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="cc">
                      <ul class="nav navbar-nav navbar-right">
                          <li>
                            <% if !current_user %>
                              <li><%= link_to("注册", new_user_registration_path) %> </li>
                              <li><%= link_to("登入", new_user_session_path) %></li>
                            <% else %>
                            <li> <%= link_to("讨论区",admin_articles_path) %> </li>
                            <li> <%= link_to("查看会员",admin_users_path) %> </li>

                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  Hi!, <%= current_user.email %>
                                  <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                  <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                                  <% if current_user && current_user.is_admin %>
                                    <li> <%= link_to("用户页面",root_path) %> </li>
                                  <% end %>
                              </ul>
                            </li>
                          <% end %>
                          </li>
                      </ul>
                  </div>
                  <!-- /.navbar-collapse -->
              </div>
              <!-- /.container-fluid -->
          </nav>

            <%= render "common/flashes" %>
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;" >
                  <li class="active"><%= link_to("Admin Coins", admin_coins_path ) %> </li>
                  <li><%= link_to("Edit Record", admin_versions_path) %> </li>
              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
           </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
