<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <br/>
  <%= f.search_field :name_cont %>
  <%= f.submit name:''%>
  <br/>
  <%= f.check_box :price_not_null %>
  <%= f.label :Price_exist %>


<% end %>
<table class="table table-boarded">
  <thead>
    <tr>
      <th>Coin_id</th>
      <th>Name</th>
      <th>MC</th>
      <th>Price</th>
      <th>Marketl</th>
      <th>24H</th>
      <th>7D</th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.coinid %></td>
        <td><%= coin.name %></td>
        <td><%= coin.mc %></td>
        <td><%= coin.price %></td>
        <td><%= coin.marketl %></td>
        <td><%= coin.quota %></td>
        <td><%= coin.week %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag import_coins_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "submit" %>
<% end %>
